.about{

    /*----- MEDIA VARIABLER -----*/

    --bottom__grid-col: repeat(4, 1fr);

    @media (max-width: $screen-sm) {
        --bottom__grid-col: repeat(2, 1fr);
    }

    @media (max-width: $screen-xs) {
        --bottom__grid-col: 1fr;
    }


    /*----- STYLING -----*/

    padding: var(--section-padding) 0;
    @extend .container;

    .top{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: var(--section-padding);

        .heading{
            margin-top: 0;
            margin-bottom: .3em;
        }

        .text{
            max-width: 80ch;
            margin-bottom: 0;
            font-size: 1.7rem;
            font-family: "Stag-Book";
        }
    }

    .bottom{
        display: grid;
        grid-template-columns: var(--bottom__grid-col);
        grid-gap: calc(var(--gutter) * 2);

        .item{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .image{
                width: 100%;
                max-width: 18rem;
                height: auto;
                margin-bottom: 1rem;
                background-color: $light-gray-light;
                border-radius: 50%;
            }

            .heading{
                margin-bottom: 0;
            }
        }
    }

}