.blog{

    &--home{

        /*----- MEDIA VARIABLER -----*/

        --slider__arrows__display: flex;

        @media (max-width: $screen-lg) {
            --slider__arrows__display: none;
        }

        /*----- STYLING -----*/


        background-color: $light-gray-light;
        padding: var(--section-padding) 0;
        display: flex;
        flex-direction: column;
        @extend .container;


        &__slider{
            position: relative;

            .arrows{
                position: absolute;
                top: 40%;
                background-color: transparent;
                color: $black;
                border: none;
                width: 4rem;
                height: 4rem;
                display: var(--slider__arrows__display);
                justify-content: center;
                align-items: center;
                cursor: pointer;
                border-radius: 50%;
                background-color: transparent;
                transition: background-color .2s ease;
                &:hover{
                    background-color: $primary;

                    svg{
                        fill: $white;
                    }
                }

                svg{
                    width: 1rem;
                    fill: $black;
                    transition: fill .2s ease;
                }

                &.left{
                    left: -6rem;
                    padding-right: 1rem;
                    
                }

                &.right{
                    right: -6rem;
                    padding-left: 1rem;
                }

            }

            .glide__bullets{
                display: flex;
                justify-content: center;
                margin: calc(var(--gutter) * 2) auto;


                .glide__bullet{
                    border: 1px solid $dark-gray-dark;
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 50%;
                    background-color: transparent;
                    transition: background-color .2s ease;
                    margin: .4rem;
                    cursor: pointer;
                    padding: 0;

                    &.glide__bullet--active{
                        background-color: $dark-gray-dark;
                    }

                }
            }
            
        }

        .read-more{
            margin: auto;
        }
        
    }
    


    &--list{
        background-color: $light-gray-light;
        padding: var(--header__height) 0 var(--section-padding);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: var(--gutter);
        
        &__item{
            background-color: $white;
            display: flex;
            flex-direction: column;
            height: 100%;

            .top{
                display: flex;
                font-size: 1.1rem;
                opacity: .5;
                padding: 1rem 2rem;

                .author{
                    margin-left: auto;
                }
            }

            .image-wrapper{
                position: relative;
                overflow: hidden;
                padding-top: 420px / 560px * 100%;
                background-color: $light-gray-dark;

                .tag{
                    position: absolute;
                    bottom: 1rem;
                    left: 1rem;
                    background-color: $secondary;
                    color: $white;
                    z-index: 1;
                    font-size: 1.3rem;
                    padding: .5em .8em;
                    font-weight: 700;
                    line-height: 100%;
                }

                .image{
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: 50% 50%;
                }
            }


            .content{
                padding: 2rem;
                flex-grow: 1;

                .heading{
                    margin-top: 0;
                }

                .text{
                    font-size: 1.4rem;
                }
            }
        }
    }

    &--page{
        padding: calc(var(--header__height) + var(--section-padding)) 0 var(--section-padding);

        .image{
            width: 100%;
            display: block;
        }

        .main__content{

            &__image-wrapper{
                position: relative;
                overflow: hidden;
                padding-top: 420px / 560px * 100%;
                background-color: $light-gray-dark;
    
                .image{
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: 50% 50%;
                }
            }
        }

        
    }
}