@keyframes brands-animation {
    0% {
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.brands{
    background-color: $secondary;
    padding: 3rem 0;
    @extend .container;
    overflow: hidden;

    &-wrapper{
        display: flex; 
        animation: brands-animation 100s infinite;
        animation-timing-function: linear; 
        animation-fill-mode: backwards;
        .image{
            height: 7rem;
            margin: 0 2.5rem;
        }

    }
}