@keyframes brands-animation {
    0% {
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.brands{
    background-color: $dark-gray-light;
    padding-top: 6rem;
    padding-bottom: 6rem;
    @extend .container;

    &-wrapper{
        overflow: hidden;
        &__inner{
            display: flex; 
            animation: brands-animation 100s infinite;
            animation-timing-function: linear; 
            animation-fill-mode: backwards;
            .image{
                height: 7rem;
                margin: 0 2.5rem;
            }
        }
       

    }
}