.fokus{

    /*----- MEDIA VARIABLER -----*/

    --fokus__grid-col: repeat(4, 1fr);

    @media (max-width: $screen-sm) {
        --fokus__grid-col: repeat(2, 1fr);
    }

    @media (max-width: $screen-xs) {
        --fokus__grid-col: 1fr;
    }


    /*----- STYLING -----*/

    padding: var(--section-padding) 0;
    @extend .container;
    display: grid;
    grid-template-columns: var(--fokus__grid-col);
    grid-gap: calc(var(--gutter) * 2);
    background-color: $dark-gray-dark;
    color: $white;
    .item{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: inherit;

        svg{
            fill: currentColor;
            height: 10rem;
        }

        .heading{
            margin-bottom: 0;
        }
    }

}