.fokus{

    /*----- MEDIA VARIABLER -----*/

    --fokus__grid-col: repeat(4, 1fr);

    @media (max-width: $screen-sm) {
        --fokus__grid-col: repeat(2, 1fr);
    }

    @media (max-width: $screen-xs) {
        --fokus__grid-col: 1fr;
    }


    /*----- STYLING -----*/

    padding: var(--section-padding) 0;
    @extend .container;
    display: grid;
    grid-template-columns: var(--fokus__grid-col);
    // grid-gap: calc(var(--gutter) * 2);
    background-color: $black;
    color: $white;
    .item{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: inherit;
        padding: calc(var(--gutter) * 2);
        transition: background-color, color, .2s ease-in;
        &:hover{
            color: $primary;
            background-color: $dark-gray-dark;
        }

        &:nth-child(2){

            svg{
                padding: .7rem;
            }
        }

        svg{
            fill: currentColor;
            height: 9rem;
            transition: fill, .2s ease-in;
        }

        .heading{
            margin-top: 1em;
        }

        .text{
            opacity: .8;
        }
    }

}