{% extends "layouts/base.njk" %}
{% block content %}
     <main class="main main--right-sidebar blog--page">
        <article class="main__content">
            <div class="main__content__image-wrapper">
                <img class="image"
                    sizes="(max-width: 760px) 100vw, 760px"
                    srcset="
                    {{ settings.claudinaryUrl }}c_scale,f_auto,q_auto,w_375{{ settings.claudinaryFolder }}{{ cover_image }} 375w,
                    {{ settings.claudinaryUrl }}c_scale,f_auto,q_auto,w_768{{ settings.claudinaryFolder }}{{ cover_image }} 768w,
                    {{ settings.claudinaryUrl }}c_scale,f_auto,q_auto,w_992{{ settings.claudinaryFolder }}{{ cover_image }} 992w,
                    {{ settings.claudinaryUrl }}c_scale,f_auto,q_auto,w_1280{{ settings.claudinaryFolder }}{{ cover_image }} 1280w"
                    src="{{ settings.claudinaryUrl }}c_scale,f_auto,q_auto,w_1280{{ settings.claudinaryFolder }}{{ cover_image }}"
                alt="{{ title }}">
            </div>
            
            <h1 class="heading">{{ title }}</h1>
            <p class="manchet">{{ manchet_text }}</p>
            {% if top_text %}
                <div class="top-text">{{ top_text | safe }}</div>
            {% endif %}
            {% if quote %}
                <blockquote class="blockquote">
                    <div class="blockquote__inner-wrapper">
                        <p class="quote">{{ quote }}</p>
                        <i class="author">{{ quote_author }}</i>
                    </div>
                </blockquote>
            {% endif %}
            {{ content | safe }}
        </article>
        <aside class="main__aside--right">
            {% include "components/newsletter.njk" %}
        </aside>
    </main>
{% endblock content %}