{% extends "layouts/base.njk" %}

{% block content %}
    <main class="main main--right-sidebar">
        <article class="main__content">
            <h1 class="heading">{{ title }}</h1>
            {{ content | safe }}
            <div class="team--list">
                <h5 class="heading">Design: Kommunikation</h5>
                {% for item in collections.team_design %}
                    {% include "components/team.njk" %}
                {% endfor %}
            </div>
            <div class="team--list">
                <h5 class="heading">Forlag: Sundhedskommunikation</h5>
                {% for item in collections.team_forlag %}
                    {% include "components/team.njk" %}
                {% endfor %}
            </div>
        </article>
        <aside class="main__aside--right">
            {% include "components/newsletter.njk" %}
            <div class="services-nav light">
                <h5 class="heading">Se også</h5>
                {% include "components/services-nav.njk" %}
            </div>
        </aside>
    </main>
{% endblock content %}