<section class="brands">
    <div class="brands-wrapper">
        <div class="brands-wrapper__inner">
            {% for item in brands %}
                <img class="image" height="80px" src="{{ settings.claudinaryUrl }}f_auto,q_auto{{ settings.claudinaryFolder }}{{ item.image }}" alt="brands">
            {% endfor %}
        </div>
    </div>
</section>