<section class="call-to-action">
    <p class="heading h3">“Vi har skabt et kommunikationshus, hvor evnen til at lave digital kommunikation – med engagement og indlevelse gør os unikke”</p>
</section>