<section class="call-to-action">
    <p class="heading h1">“Vii har skabt et kommunikationshus, hvor evnen til at lave digital kommunikation – med engagement og indlevelse gør os unikke”</p>
</section>