<div class="contact-form">
    <h5 class="heading">Start en samtale</h5>
    <p class="text">Samtale fremmer forståelse. Og der er brug for at vi taler mere sammen. Her kan du begynde en samtale med os.
Om det som du kæmper med, tænker over eller gere vil blive klogere på. Bare skriv til os her - så vi kan tale sammen.</p>
    <form class="form" name="Kan vi hjælpe form" action="/thanks/" netlify>
        <label for="name">Navn</label>
        <input type="text" name="navn" id="name" placeholder="Angiv dit navn">
        <label for="email">E-mail*</label>
        <input type="email" name="email" id="email" placeholder="Angiv din e-mail" required>
        <label for="questions">Snak og spørgsmål</label>
        <textarea name="questions" id="questions"></textarea>
        <button class="btn btn--large btn--primary">Tilmeld nu</button>
    </form>
</div>