<section class="fokus">
    {% for item in fokus %}
        <a class="item" href="/dna">
            {{ item.icon | safe }}
            <h3 class="heading h1">{{ item.heading }}</h3>
            <p class="text">{{ item.text }}</p>
        </a>
    {% endfor %}
</section>