<section class="fokus">
    <div class="bottom">
        {% for item in fokus %}
        <a class="item" href="/dna">
            
            <h3 class="heading h5">{{ item.heading }}</h3>
            <p class="text">{{ item.text }}</p>
        </a>
        {% endfor %}
    </div>
</section>