<footer class="footer">
    <div class="top">
        <div class="firm-info">
            <img class="splatter" loading="lazy" src="{{ settings.claudinaryUrl }}c_scale,f_auto,q_auto{{ settings.claudinaryFolder }}splatter" alt="Splatter">
            <ul class="info">
                <li><strong>Mediegruppen</strong></li>
                <li>design:kommunikation as</li>
                <li>{{ settings.address }}</li>
                <li>{{ settings.zipCode }}</li>
            </ul>
            <ul class="contact">
                <li><a href="tel:{{ settings.phone }}">{{ '/src/assets/images/mobil-phone-icon.svg' | svgContents | safe }}{{ settings.phone }}</a></li>
                <li><a href="mailto:{{ settings.mail }}">{{ '/src/assets/images/mail-icon.svg' | svgContents | safe }}{{ settings.mail }}</a></li>
            </ul>
            <ul class="socialmedia">
                <li><a aria-label="Gå til facebook" href="">{{ '/src/assets/images/facebook-icon.svg' | svgContents | safe }}</a></li>
                <li><a aria-label="Gå til facebook" href="">{{ '/src/assets/images/linkedin-icon.svg' | svgContents | safe }}</a></li>
                <li><a aria-label="Gå til facebook" href="">{{ '/src/assets/images/instagram-icon.svg' | svgContents | safe }}</a></li>
            </ul>
        </div>
        <div class="links">
            <h4 class="heading">Det brænder vi for</h4>
            <nav class="services-nav dark">
                {% include "components/services-nav.njk" %}
            </nav>
        </div>
        <div class="help">
            <h4 class="heading">Hvad kan vi hjælpe dig med?</h4>
            <p>Vi vil altid gerne snakke. Både for at give support til vores løsninger, men også hvis du har andet, du ønsker at vende med os. Udfyld felterne, så gi’r vi en kande kaffe.</p>
            <button class="btn popup-button">Start en samtale</button>
            <p>Mediegruppen er et medie- og reklamebureau med base i Vejle nær Kolding og med kunder i hele Danmark. Vi hjælper med at fortælle din historie bedre. Så du får nye forbindelser, skaber bevægelse og forandring.</p>
        </div>
    </div>
    <div class="bottom">
        <a class="logo" aria-label="Gå til forsiden" href="/">{{ '/src/assets/images/logo_white.svg' | svgContents | safe }}</a>
        <span class="copyright">Copyright © 2020 Mediegruppen. All rights reserved.</span>
    </div>
    <div class="footer__popup">
        <div class="content">
            <button aria-label="Luk popup" class="footer__popup__close"></button>
            {% include "components/contact-form.njk" %}
        </div>
    </div>
</footer>