<div class="hero">
    <div class="wrapper">
        <div class="content">
            <h1 class="heading">{{ hero.heading | safe }}</h1>
            <p class="text">{{ hero.text }}</p>
        </div>
        {{ '/src/assets/images/megaphone-icon.svg' | svgContents | safe }}
    </div>
</div>