<div class="hero">
    <div class="wrapper">
        <div class="content">
        <div class="heading-wrapper">
            {# {% for item in hero %}
                <h1 class="heading">{{ item.heading | safe }}</h1>
            {% endfor %} #}
            <h1 class="heading">Vi hjælper dig med at <span>fortælle</span> din historie bedre</h1>
            <h2 class="heading">Vi hjælper dig med at <span>bevæge</span> igennem nye ideer</h2>
        </div>
        <p class="text">Mere menneskeligt, mere vedkommende og mere relevant. Hos Mediegruppen tror vi på, at kommunikation kan ændre verden. Fra dig og mig, fra det nære – til bæredygtighed, sundhed, tryghed og menneskelige relationer. På stærke
      fortællinger, der skaber troværdig kommunikation</p>
        </div>
        <div class="hero__icon">
            {{ '/src/assets/images/Shape.svg' | svgContents | safe }}
            {{ '/src/assets/images/Shape-haert.svg' | svgContents | safe }}
        </div>
    </div>
</div>