$primary: #ff5d00;
$primary-light: #ff5d00;
$primary-dark: #db4601;
$secondary: #66574e;
// #ff5200
$white: #fff;
$light-gray-light: #F5F5F5;
$light-gray-dark: #eeeeee;
$medium-gray-light: #999;
$medium-gray-dark: #4F4237;
$dark-gray-light: #3C2C1F;
$dark-gray-dark: #1C1C1C;
$black: #000;

$text-color: #212121;

:root {
--primary: #fc4a1a;
--primary-dark: #E63D1F;
--primary-light: #EF4223;

--secondary: #f7b733;
}