@mixin list-style-none{
  list-style: none;
  margin: 0;
  padding: 0;
}

// @mixin container{
//   margin: 0 auto;
//   width: 1200px;
//   max-width: 90%;
// }

@mixin container{
  padding-left: calc(((100% - var(--container-width)) / 2) - 5vw);
  padding-right: calc(((100% - var(--container-width)) / 2) - 5vw);
  border-left: 5vw solid transparent;
  border-right: 5vw solid transparent;
}