@font-face {
    font-family: 'StagSans';
    src: url('/assets/fonts/StagSans-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'StagSans';
    src: url('/assets/fonts/StagSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'StagSans';
    src: url('/assets/fonts/StagSans-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'StagSans';
    src: url('/assets/fonts/StagSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

$base-font: "StagSans",'Raleway',Arial,sans-serif;
$heading-font: $base-font;

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: $heading-font;
	font-weight: 600;
    color: inherit;
    line-height: 110%;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h1, .h1{
    font-size: 3.6rem;
    font-weight: 700;
}

h2, .h2{
    font-size: 3rem;
}

h3, .h3{
    font-size: 2.6rem;
}

h4, .h4{
    font-size: 2.2rem;
}

h5, .h5{
    font-size: 1.6rem;
}

h6, .h6{
    font-size: 1.4rem;
}

p{
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.text{
    &--large{
        font-size: 2rem
    }

    &--small{
        font-size: 1.2rem
    }
}

.manchet{
    font-size: 1.8rem;
    color: inherit;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 2em;
}

.blockquote{
    margin: var(--gutter) 0;
    line-height: 1.15;
    font-weight: 600;
    &::before, &::after{
      content: "";
      width: 10%;
      height: 1px;
      background-color: $black;
      display: block;
    }
    &__inner-wrapper{
      padding: var(--gutter) 0;
      display: block;
  
      .quote{
        color: $primary;
        font-size: 2.6rem;
        margin: 0;
        max-width: 37ch;
        font-style: italic;
        font-family: $heading-font;
      }
      .author{
        font-family: "Stag-Book";
        margin-top: calc(var(--gutter) / 3);
        display: block;
        font-weight: 200;
      }
    }
  }