@font-face {
    font-family:Stag-Book;
    src: url(/assets/fonts/Stag-Book.woff2);
    font-display: swap;
}

@font-face {
    font-family:Stag-Medium;
    src: url(/assets/fonts/Stag-Medium.woff2);
    font-display: swap;
}

@font-face {
    font-family:StagSans-Book;
    src: url(/assets/fonts/StagSans-Book.woff2);
    font-display: swap;
}

@font-face {
    font-family:StagSans-Semibold;
    src: url(/assets/fonts/StagSans-Semibold.woff2);
    font-display: swap;
}

$base-font: "StagSans-Book",'Raleway',Arial,sans-serif;
$heading-font: "Stag-Medium",'Raleway',Arial,sans-serif;

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: $heading-font;
	font-weight: 500;
    color: inherit;
    line-height: 110%;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h1, .h1{
    font-size: 3.6rem;
}

h2, .h2{
    font-size: 3rem;
}

h3, .h3{
    font-size: 2.6rem;
}

h4, .h4{
    font-size: 2.2rem;
}

h5, .h5{
    font-size: 1.8rem;
}

h6, .h6{
    font-size: 1.4rem;
}

p{
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.text{
    &--large{
        font-size: 2rem
    }

    &--small{
        font-size: 1.2rem
    }
}

